.sneakpic-photo {
    animation: 10s pan-photo infinite linear;
    -webkit-animation: 10s pan-photo infinite linear;
    position: absolute;
}

.lives {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    z-index: 10;
    width: 100px;
    text-align: right;
}

.heart {
    color: #CCCCCC;
}

.heart.full {
    color: #ef3b3c;
}

.caption-container {
    background-color: #333;
    padding: 15px 0;
    text-align: center;
}

.letter {
    width: 24px;
    background-color: white;
    padding: 5px 8px;
    border-radius: 3px;
    text-align: center;
    margin: 0 5px;
    display: inline-block;
    font-weight: bold;
    color: white;
}

.letter.guessed {
    color: #333333;
}

$image-width: 240px;
$image-height: 190px;

@keyframes pan-photo {
    0% { 
        transform: translate3d(0,0,0);
    }
    25% { 
        transform: translate3d(-$image-width, 0, 0);
    }
    50% {
        transform: translate3d(-$image-width, -$image-height, 0);         
    }
    75% {
        transform: translate3d(0px, -$image-height, 0);        
    }
    100% {
        transform: translate3d(0,0,0);
    }
}

@-webkit-keyframes pan-photo {
    0% { 
        -webkit-transform: translate3d(0,0,0);
    }
    25% { 
        -webkit-transform: translate3d(-$image-width, 0, 0);
    }
    50% {
        -webkit-transform: translate3d(-$image-width, -$image-height, 0);         
    }
    75% {
        -webkit-transform: translate3d(0px, -$image-height, 0);        
    }
    100% {
        -webkit-transform: translate3d(0,0,0);
    }
}