$sneak-purple: #9044a5;
$sneak-blue: #625DA9;
$sneak-light-gray: #EDEAF4;
$sneak-gray: #58585A;

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 350px;
}

.sneakpic-bar {
    background-color: $sneak-purple;
    background-image: linear-gradient(0deg, $sneak-purple, $sneak-purple 50%, transparent 50%);
    color: white;

    .button {
        color: white;
    }
}

.sneakpic-bar h1 {
    color: white;
}

.timer-container {
    height: 20px;
    background-color: #CCCCCC;
}

.timer-bar {
    height: 20px;
    background-color: $sneak-purple;
}