<ion-view title="Crea tu foto">
    <ion-content class="has-header">
        <h1>Sube tu foto</h1>
        <p>Toma una foto la cual quieres ingresar en el pool de retos.</p>
        <button id="capturePhoto" name="capturePhoto" ng-click="capturePhoto()">
            Captura foto
        </button>
    </ion-content>
</ion-view>