<ion-view title="Crea tu foto">
    <ion-content class="has-header">
        <div class="list">
            <div class="item">
                <button id="capturePhoto" name="capturePhoto" ng-click="capturePhoto()" class="button button-block button-stable">
                    <i class="ion-camera"></i> Captura foto
                </button>        
            </div>
            <div class="item item-image">
                <img ng-src="{{question.picture}}" id="foto" />
            </div>
            <div class="item item-input item-stacked-label">
                <span class="input-label">¿Qu&eacute; es esto?</span>
                <input type="text" ng-model="question.caption" placeholder="Respuesta" />
            </div>            
        </div>
        
        <button id="submitQuestion" class="button button-positive button-block" ng-click="submitQuestion()">
            Subir reto
        </button>
        
    </ion-content>
</ion-view>