<ion-view title="Puntajes altos">
    <ion-content class="has-header">
        <div class="list">
            <div class="item" ng-repeat="item in highscores">
                <h2>{{item.username}}</h2>
                <p>{{item.score}} puntos</p>
            </div>
        </div>

    </ion-content>
</ion-view>