<ion-view title="Sneakpic">
    <ion-content class="has-header">
        <a class="button button-positive button-block" href="#/play">
            Empieza a Jugar
        </a>
        <a class="button button-stable button-block" href="#/questions/new">
            Sube tu foto
        </a>
        
        <a class="button button-stable button-block" href="#/answers/highscores">
            Puntajes altos
        </a>
    </ion-content>
</ion-view>