<ion-view title="Sneakpic">
    <ion-content class="has-header">
        <div class="image-container">            
            <span class="lives">
                <i class="heart ion-ios7-heart" ng-class="{full: lives >= 3}"></i>
                <i class="heart ion-ios7-heart" ng-class="{full: lives >= 2}"></i>
                <i class="heart ion-ios7-heart" ng-class="{full: lives >= 1}"></i>
            </span>
            <img ng-src="{{ question.picture.picture.url }}" class="sneakpic-photo">            
        </div>
        <div class="timer-container">
            <div class="timer-bar" style="width: {{ secondsLeftPercentage }}%"></div>
        </div>  
        <div class="caption-container">
            <span class="letter" ng-repeat="character in question.caption_characters track by $index" caption-letter="{{character}}">
                {{ character }}
            </span>
        </div>     
        
        <div>
            <button class="button button-stable" ng-repeat="option in question.hangman_options track by $index" ng-click="selectCharacter(option)" select-on-click>
                {{ option }}
            </button>    
        </div>
        
    </ion-content>
</ion-view>