<ion-view title="Registro">
    <ion-content class="has-header">
        <div class="list">
            <div class="item item-input">
                <input type="text" ng-model="user.username" placeholder="Nombre de usuario">
            </div>
            <button ng-click="register()" class="button button-positive button-block">
                Reg&iacute;strate
            </button>
        </div>
    </ion-content>
</ion-view>